body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
}
.controls{
    margin-bottom: 20px;
}
.canvas{
    border: 2px solid #ccc;
    cursor: crosshair;
}